h1 {
    color: blueviolet;
    width: 9000px;
    background-color: aquamarine;
}
h2 {
    color: brown;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;

}
h3{
    color: chocolate;
    background-color: lightblue;
    font-weight: bold;
    
}
p {
    font-style: oblique;
    background-color: azure;
    color: blue;

}